.content {
    background: #FAFAFA;
    box-shadow: 0px 43px 74px -1px rgba(117, 135, 149, 0.2);
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: stretch;
}