.item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: #2D3134;
  font-size: 14px;
  line-height: 22px;
  padding: 12px 40px 12px 40px;

  &::before {
    position: absolute;
    content: '';
    width: 8px;
    background-color: #0065FF;
    border-radius: 16px;
    height: 36px;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    transition: 0.3s;
  }

  &:hover {
    svg {
      path {
        fill: #2D3134;
      }
    }

    &::before {
      transform: translate(-50%, -50%);
    }
  }
}

svg {
  path {
    fill: #C8C9CB;
    transition: 0.3s;
  }
}