.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-right: 1px solid #F8F8F8;
    width: 305px;
    padding: 80px 40px 50px 40px;
}

.footer {
    margin-top: auto;
}